body {
    background-image: url("../images/home-banner-2-2000x1300.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
.text {
    margin-top: 0;
    text-align: center;
    font-style: italic;
    /*top: 50%;*/
    /*right: 50%;*/
    /*transform: translate(80%, -0%);*/
    text-transform: full-size-kana;
    font-family: "American Typewriter", sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black,
    1px 2px 1px gray,
    1px 3px 1px grey,
    1px 4px 1px black,
    1px 5px 1px black,
    1px 6px 1px black,
    1px 6px 1px black,
    1px 6px 1px black,
    1px 6px 1px black,
    1px 6px 1px black,
    1px 18px 6px rgba(40, 16, 16, 0.2),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
section {
    background-color: #aaa9a9;
}

/*.left-dots {*/
/*    width: calc((100% - 300px) / 2);*/
/*    background-color:#78AA56;*/
/*    background-image: url("img.png");*/
/*    background-repeat:repeat-x;*/
/*    background-position: right bottom 20px;*/
/*}*/


/*}*/
/*h1 {*/
/*    position: center;*/
/*    font-family: 'Exo', fantasy;*/
/*    font-size: 9em;*/
/*    margin: 20px;*/
/*    transform: skew(-20deg);*/
/*    letter-spacing: 0.03em;*/

/*body{*/
/*    background-image: linear-gradient(to right, white, lightgray);*/

/*}*/