body{
    font-family: 'Anton', sans-serif;
    background-color: #f0f0f0;

}
h1{
    font-size: 64px;
}
h2{
    font-size: 40px;
}
.circle h3{
    color: white;
}
/*p{*/
/*    font-size: 28px;*/
/*}*/
/*h5{*/
/*    padding-top: 10px;*/
/*}*/

.circle{
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: solid white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleRed {
    background-color: #E6563B;
}
.circleOrange {
    background-color: #EB9D3A;
}
.circleGreen {
    background-color: #7CB06C;
}
.circleBlue {
    background-color: #00ABA9;
}

.circlePlace{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-wrap: nowrap;
    /*justify-content: space-evenly;*/
}
img{
    max-width: 100%;
    padding: 10px;
}
/*.mac{*/
/*width: 48%;*/
/*border-style: solid;*/
/*border-width: 10px;*/
/*border-color: grey;*/
/*}*/
/*.my-container{*/
/*    margin: 0;*/
/*}*/
/*.row{*/
/*    width: 50%;*/
/*}*/
/*.my-cont{*/
/* float: right;*/

/*}*/
/*.my-col{*/

/*}*/